extends layout.pug 
block mainContent 
  div(class="w-full bg-[#dba05c] h-[504px] flex p-[20px] gap-[20px] pt-[50px]")
    .main(class="w-[743px] h-[290px] bg-[#fff] opacity-[0.8] bg-transparent text-[15px]")
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[18px] opacity-[1] p-[10px] text-left text-[15px]") 404 Object Not Found
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[21px] opacity-[0.8] p-[10px] text-left text-[14px]") The object you were looking for is not found on the V3EX Space Station.
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[21px] opacity-[0.8] p-[10px] text-left text-[14px]") 你要寻找的物件不存在于 V3EX 空间站上。
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[21px] opacity-[0.8] p-[10px] text-left text-[14px]") L'objet que vous cherchiez ne se trouve pas sur la station spatiale V3EX.
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[21px] opacity-[0.8] p-[10px] text-left text-[14px]") Das von Ihnen gesuchte Objekt wird auf der V3EX-Raumstation nicht gefunden.
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[21px] opacity-[0.8] p-[10px] text-left text-[14px]") お探しの物体は V3EX 宇宙ステーションにはありません。
      div(class="bg-[#fff] border-b-[1px] border-[#e0d4c7] leading-[21px] opacity-[0.8] p-[10px] text-left text-[14px]") Объект, который вы искали, не найден на космической станции V3EX.
    .right(class="w-[270px] h-[158px] bg-[#fff] ")
      if !isLogin
        div(class="border-b-[1px] border-[#e2e2e2] p-[10px]") 
          div(class="text-[14px] font-[700] leading-[21px] mb-[5px]") V3EX = way to explore
          div(class="text-[14px] leading-[21px] text-[#ccc] ") V3EX 是一个关于分享和探索的地方
        div(class="text-center text-[14px] p-[10px]") 
          form(action="/register" method="get" class="mt-[5px]") 
            button(class="border-[1px] px-[15px] pt-[4px] pb-[3px] rounded-[3px] text-[#333] font-[700] leading-[20px]  outline-[#c4c4c6] cursor-pointer") 现在注册
          div(class="leading-[21px] mt-[10px] leading-[21px]") 已注册用户请 
            a(href="/login") 登录
      else 
        div(class="border-b-[1px] border-[#e2e2e2] p-[10px]") 
          div 
            span 头像
            strong=loginUser.accountName
        div(class="text-center text-[14px] p-[10px]") 
          span 节点收藏
          span 主题收藏
          span 特别关注
        div(class="text-center text-[14px] p-[10px]") 
          span 未读提醒 
          span 经验积累

